@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0); 
  --primary-red: #ef4035;
  --primary-hover-red: #f33501; 
}

body{
  font-family: "Roboto Condesed" sans-serif;
  margin: 0;
  padding: 0;
}
/*******************Navbar *********************/

nav{
  z-index: 2;

}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.logo{
  width: 12.25rem;
}

/*****Menu links*****/

nav a.nav-link{
  /*font-weight: 500;*/
  letter-spacing: 0.0375;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important; 
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}


@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}


/*************HEADER********************/

.header-wraper{
  position: relative;
  background: url(wall-and-laptop.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: var(--primary-dark);
 
}
.main-info{
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  z-index: 1;
}
.main-info h1{
  color: #03071d;
  text-transform: uppercase;
}


/****************TYPED TEXT*******************/

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }

  .typed-text{
    font-size: 1.3rem !important;
  }
}

/****************HEADER MAIN OFFER BUTTON*******************/
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;

}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px){
 .particles-canvas{
   display: none;
 }
}


/*************ABOUT ME***************/
.section{
  background-color: rgb(43, 43, 85);
  
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.title p {
  text-decoration-color: white;
  width: 80%;
  margin: 0 auto;
}

.about-img {
  margin-bottom: 3rem;
  
}
.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  height: 500px;
  
}
@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.about {
  
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

@media screen and (min-width: 992px) {
  .imageSize{
    width: 70%;
    height: 80px;
    margin-left: 6rem;
  }

}
.imageSize{
  width: 50%;
  height: 80px;
  margin-left: 6rem;
  border-radius: 50%;
}

 h2,h4,p{
  color: #fff;
  font-family: "Roboto Condesed" sans-serif;
  
}

.about-content {
  border-bottom-left-radius: 0.5rem;;
  border-bottom-right-radius: 0.5rem;;
  padding: 2rem 1.5rem;
}
/***********************SERVICES*************************/


/*-------------------------PORFOLIO-------------------------------*/

.container-image{
  position: relative;
  column-count: 4;
  padding: 20px;
}
.image-menu{
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}
.image-menu img{
  width: 100%;
  transition: 0.25s ease-in-out;
}
.image-menu:hover img{
  transform: scale(1.1);
}
.image-menu h1{
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  background: #5c5c5c;
  color: #ffffff;
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.25s ease-in-out;
}
.image-menu:hover h1{
  opacity: 0.5;
}
@media screen and (max-width:1024px){
  h1{
      font-size: 20px;
  }
}
@media screen and (max-width:768px){
  .container-image{
      column-count: 3;
  }
}
@media screen and (max-width:425px){
  .container-image{
      column-count: 2;
  }
  h1{
      font-size: 12px;
  }
}
@media screen and (max-width:375px){
  .container-image{
      column-count: 1;
  }
  h1{
      font-size: 15px;
  }
}